.partner {
  text-align: center;

  &__image {
    width: em(320);
    height: initial;
    object-fit: cover;
    border-radius: 50%;

    @media (max-width: $mobile) {
      width: em(244);
      height: initial;
    }
  }

  &__content {
    margin-top: em(25);
  }

  &__title {
    font-size: em(24);
    font-weight: 600;
  }

  &__button {
    margin: 0 auto;
  }
}

.partner-experience {
  margin-top: em(3);
  margin-bottom: em(16);

  @media (max-width: $mobile) {
    margin-bottom: em(20);
  }

  &__text {
    opacity: 0.6;

    font-size: em(20);
    line-height: em(24);
  }
}

.partner-button {
  height: em(35);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: em(12);
  padding-right: em(12);
  border: 1px solid $color_accent;
  color: $color_accent;
  border-radius: em(35);
  background-color: transparent;
  font-weight: 500;
  transition: background-color $transition, color $transition;
  cursor: pointer;

  &__text{
    font-size: em(16);
  }

  &:hover {
    background-color: $color_accent;
    color: $color_light;
  }
}
