/** Color palette **/
$color_light: #FFFFFF;
$color_light_50: #D6D6D6;
$color_light_100: #D0D0D0;

$color_bg: #E9DED4;

$color_dark: #1F1F1F;
$color_dark_50: #313131;

$color_accent: #3057A2;
$color_primary: #FBCE51;
$color_secondary: #F54932;

/** Typography **/
$ff_base: 'Golos Text', sans-serif;
$ff_heading: 'Merriweather', Arial;


/** Animations **/
$transition: .3s ease-in-out;

/** Sizes **/
$mobile: 991px;
